<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3" id="sidebar-left">
            <div class="row">
                <button type="button" class="btn btn-primary">Create New</button>
            </div>
            <hr>
            <div class="row">
                <button type="button" class="btn btn-primary">View All</button>
            </div>
            <hr>

            <div class="row" id="titleContainer">
                <div>
                    <h5>Loop of titles </h5>
                    <hr>
                </div>

                <div>
                    <h5>Loop of titles </h5>
                    <hr>
                </div>

                <div>
                    <h5>Loop of titles </h5>
                    <hr>
                </div>
                <hr>
            </div>

        </div>
        <div class="col-lg-8" id="content">
            <div class="card">
                <div class="card-body" id="contentCard">
                    <div class="row">
                        <input class="form-control" type="text" placeholder="Title Here" name="title" id="title" />
                    </div>
                    <div class="row">
                        <div class="alert alert-info" role="alert">
                            Date Created and Modified Here
                        </div>
                        

                    </div>
                    <div class="row">
                        <textarea class="form-control" placeholder="Entre Here" id="contentTextArea" rows="20"></textarea>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>